
/* ================== BUTTTON CUSTOM ===================*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* Blue */
.b {
    background-color: #008CBA;
}
/* Red */
.r {
    background-color: #f44336;
}

.z {
    background-color: #6c5ce7;
}
/* Gray */
.g {
    background-color: #e7e7e7;
    color: black;
}
/* black */
/* ================ TEXTBOX CUSTOM =======================*/
.search{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
.search .full{.
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
.search .half {
    width:60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

.inp {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}
