body {
    *box-sizing:border-box;
}
#container{
    width: 100%;
    height: auto;
}
#container #idHead{
    width:100%;
    height:auto;
    
}
#container #idBody{
    width: 100%;
    height:400px;
}
#container #idBody #left{
    width:50%;
    float:left;
    height:100%;
    
}
#container #idBody #right{
    width:50%;
    height:100%;
    
    float:right;
}
#container #tb1{
    width: 100%;
    height: auto;
}
#container #fter{
    width: 100%;
    height: 70px;
    background-color: #2d3436;
    color: #fff;
}