
body {
}
#container {
   
    width:100%;
    height:auto;
}
#container #dau{
	width: 100%;
}
#container #than{
    width:100%;
    height:630px;
}
#container #left{
    width:50%;
    height:100%;
    float:left;
    background-color:aquamarine;
}
#container #right{
    width:50%;
    height:100%;
    float:right;
    background-color:#81ecec;
}